---
http_interactions:
- request:
    method: post
    uri: https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys/search?page=1&per_page=100
    body:
      encoding: UTF-8
      string: "{\"q\":\"foo*\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5c957b9ecd8db363b378806d2062c6289df379d6e333f37386f680270b108cf1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4262531399b8ed71bab16fbd0bc267a"
      Link:
      - "<https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100>;
        rel=first, <https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100>;
        rel=last"
      Status:
      - 200 OK
      X-Generated:
      - '2015-06-18T14:40:24+00:00'
      X-Server:
      - ip-172-31-12-177
    body:
      encoding: UTF-8
      string: "[{\"id\":\"fd533412aac028e7779c8d1767ebc1d0\",\"name\":\"foo\",\"description\":null,\"name_hash\":\"acbd18db4cc2f85cedef654fccc4a4d8\",\"plural\":false,\"tags\":[],\"created_at\":\"2015-06-18T11:43:16Z\",\"updated_at\":\"2015-06-18T11:43:16Z\"}]"
  recorded_at: Thu, 18 Jun 2015 14:40:23 GMT
[...]
- request:
    method: post
    uri: https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys/search?page=1&per_page=100
    body:
      encoding: UTF-8
      string: "{\"q\":\"foo.bar*\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5c957b9ecd8db363b378806d2062c6289df379d6e333f37386f680270b108cf1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - "<https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100>;
        rel=first, <https://api.phrase.com/api/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=0&per_page=100>;
        rel=last"
      Status:
      - 200 OK
      X-Generated:
      - '2015-06-19T09:27:22+00:00'
      X-Server:
      - ip-172-31-12-177
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 19 Jun 2015 09:27:22 GMT
recorded_with: VCR 2.9.3
