---
http_interactions:
- request:
    method: get
    uri: https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100
    body:
      encoding: UTF-8
      string: "{\"q\":\"plural*\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5c957b9ecd8db363b378806d2062c6289df379d6e333f37386f680270b108cf1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"161f1a3e7d5c611092328d46bde4a869"
      Link:
      - "<https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100>;
        rel=first, <https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys?page=1&per_page=100>;
        rel=last"
      Status:
      - 200 OK
      X-Generated:
      - '2015-06-23T08:31:41+00:00'
      X-Server:
      - ip-172-31-12-177
    body:
      encoding: UTF-8
      string: "[{\"id\":\"17fe86d62cd80909cc306bd024cf76d4\",\"name\":\"plural.key\",\"description\":null,\"name_hash\":\"98669641946931ccd8013620ecfdb171\",\"plural\":true,\"tags\":[],\"created_at\":\"2015-06-23T08:30:01Z\",\"updated_at\":\"2015-06-23T08:30:01Z\"}]"
  recorded_at: Tue, 23 Jun 2015 08:31:42 GMT
- request:
    method: get
    uri: https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys/17fe86d62cd80909cc306bd024cf76d4/translations?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5c957b9ecd8db363b378806d2062c6289df379d6e333f37386f680270b108cf1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a2d7b7e062f5457feb36ab86ed41e2f"
      Link:
      - "<https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys/17fe86d62cd80909cc306bd024cf76d4/translations?page=1&per_page=100>;
        rel=first, <https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/keys/17fe86d62cd80909cc306bd024cf76d4/translations?page=1&per_page=100>;
        rel=last"
      Status:
      - 200 OK
      X-Generated:
      - '2015-06-23T08:31:41+00:00'
      X-Server:
      - ip-172-31-2-86
    body:
      encoding: UTF-8
      string: "[{\"id\":\"212af6e80e886d9dd29cc96a99b6fbeb\",\"content\":\"0\",\"unverified\":false,\"excluded\":false,\"plural_suffix\":\"zero\",\"key\":{\"id\":\"17fe86d62cd80909cc306bd024cf76d4\",\"name\":\"plural.key\",\"plural\":true,\"data_type\":\"string\",\"tags\":[]},\"created_at\":\"2015-06-23T08:30:27Z\",\"updated_at\":\"2015-06-23T08:30:27Z\",\"placeholders\":[],\"locale\":{\"id\":\"f83505761ec9b2e119bc1b6f668f8b72\",\"code\":\"en\",\"name\":\"en\"}},{\"id\":\"1f027438c41d0d95ed5d8cf29f77fb1e\",\"content\":\"one
        key\",\"unverified\":false,\"excluded\":false,\"plural_suffix\":\"one\",\"key\":{\"id\":\"17fe86d62cd80909cc306bd024cf76d4\",\"name\":\"plural.key\",\"plural\":true,\"data_type\":\"string\",\"tags\":[]},\"created_at\":\"2015-06-23T08:30:27Z\",\"updated_at\":\"2015-06-23T08:30:27Z\",\"placeholders\":[],\"locale\":{\"id\":\"f83505761ec9b2e119bc1b6f668f8b72\",\"code\":\"en\",\"name\":\"en\"}},{\"id\":\"3581af9023936aa5903190de4b53d68e\",\"content\":\"more
        keys\",\"unverified\":false,\"excluded\":false,\"plural_suffix\":\"other\",\"key\":{\"id\":\"17fe86d62cd80909cc306bd024cf76d4\",\"name\":\"plural.key\",\"plural\":true,\"data_type\":\"string\",\"tags\":[]},\"created_at\":\"2015-06-23T08:30:28Z\",\"updated_at\":\"2015-06-23T08:30:28Z\",\"placeholders\":[],\"locale\":{\"id\":\"f83505761ec9b2e119bc1b6f668f8b72\",\"code\":\"en\",\"name\":\"en\"}}]"
  recorded_at: Tue, 23 Jun 2015 08:31:43 GMT
- request:
    method: get
    uri: https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/locales?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5c957b9ecd8db363b378806d2062c6289df379d6e333f37386f680270b108cf1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dbe6e043361b82547e1284c674f9b5cc"
      Link:
      - "<https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/locales?page=1&per_page=100>;
        rel=first, <https://api.phraseapp.com/v2/projects/49463eeb0470aadbd3816d4755e9f5ed/locales?page=1&per_page=100>;
        rel=last"
      Status:
      - 200 OK
      X-Generated:
      - '2015-06-23T08:31:42+00:00'
      X-Server:
      - ip-172-31-6-242
    body:
      encoding: UTF-8
      string: "[{\"id\":\"f83505761ec9b2e119bc1b6f668f8b72\",\"name\":\"en\",\"code\":\"en\",\"default\":true,\"main\":false,\"rtl\":false,\"plural_forms\":[\"zero\",\"one\",\"other\"],\"created_at\":\"2015-06-17T15:35:56Z\",\"updated_at\":\"2015-06-17T15:35:56Z\",\"source_locale\":null}]"
  recorded_at: Tue, 23 Jun 2015 08:31:43 GMT
recorded_with: VCR 2.9.3
